{% extends 'index.html' %}

{% block content %}

<div class="product__detail">
    <div class="product__detail__left"></div>
        <figure class="product__detail__figure">
            <img class="product__detail__image" src="{{ product.image }}" alt="need to add alt">
        </figure>
    <div class="product__detail__right ml-4">
        <h2 class="product__detail__name">{{ product.name|upper }}</h2>
        <p class="product__detail__description">{{ product.description }}</p>
        <p class="product__detail__price">$ {{ product.price }}</p>
        <button class="product__add__btn">
            <a href="{% url 'add' product.id %}">ADD TO BAG</a>
        </button>
    </div>
</div>

{% endblock %}