{% extends 'index.html' %}

{% block content %}

<div class="product">
    <div class="product__left"></div>
        <figure class="product__figure">
            <img class="product__image" src="{{ product.image }}" alt="need to add alt">
        </figure>
    <div class="product__right">
        <h2 class="product__name">{{ product.name }}</h2>
        <p class="product__description">{{ product.description }}</p>
        <p class="product__price">{{ product.price }}</p>
        <button class="product__add__btn">
            <a href="{% url 'add_product' id=product.id %}">ADD TO BAG</a>
        </button>
    </div>
</div>

{% endblock %}