.home__title {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 6.4rem;
    width: 44rem;
}

.product__wrapper {
    width: 132.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -6rem 0 0 27.9rem;
}

.product__figure {
    width: 48rem;
    height: 64rem;
    margin-top: 26.8rem;
}

.product__image {
    width: 48rem;
    height: 64rem;
}

/* product page */
.product__detail {
    height: 64rem;
    width: 100rem;
    display: flex;
    margin: 16rem 0 0 28rem;
}

.product__detail__right {
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
}

.product__detail__figure, .product__detail__image {
    height: 64rem;
    width: 48.1rem;
}

.product__detail__name {
    width: 26.2rem;
    font-size: 6.4rem;
}

.product__detail__description {
    font-family: 'Clash-Display-Regular';
    width: 27.7rem;
    font-size: 2rem;
}

.product__detail__price {
    font-family: 'Clash-Display-Regular';
    font-size: 3.6rem;
}

.product__add__btn {
    width: 36rem;
    height: 6.6rem;
    font-family: 'Clash-Display-Regular';
    font-size: 2rem;
    letter-spacing: 0.25rem;
    border: 2px solid #000;
    background-color: transparent;
    margin-bottom: 4rem;
}